body {
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

.alert-error {
    background-color: #d9534f;
}

.refund {
    background-color: #FFFF33 !important;
}

.lost {
    background-color: #d9534f !important;
}

.won {
    background-color: #5cb85c !important;
}

textarea {
    resize: none !important;
}

.text_center {
    color: #5cb85c;
}

.form_group select {
    text-align: center;
}

.betform {
    width: 18%;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    right: 15px;
    text-align-last: center;
    border: 1px aliceblue;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}

.betform select, .betform input {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #f1f1f1;
    font-size: 14px;
}

#top-button {
    display: none;
    width: 27px;
    color: hsl(206, 35%, 13%);
    position: fixed;
    left: 30px;
    bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

.hider{
    font-size: 0.8rem;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.carousel-indicators{
    margin-bottom:0px;
    opacity: 0.5
}

.carousel-indicators:hover{
    opacity: 1;
}