{% extends 'common/base.html.j2' %}
{% block content %}
<img src="data:image/png;base64,{{ pic }}">
<div class="row">
    <div class="col-lg-6 offset-md-3 center">
        <h2>Hello, <strong>{{ username }}</strong>!</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h5>Your wallets</h5>
    </div>
</div>
<div class="row pt-3">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
            </tr>
            </thead>
            {% for wallet in wallets %}
            <td><a href="/bruhproject/wallet/{{ wallet.id }}">{{ wallet.name }}</a></td>
            <td>{{ '%0.2f' % wallet.money }} $</td>
            {% endfor %}
        </table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-lg-6">
        <h5>Available events</h5>
    </div>
</div>
<div class="row pt-3">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
            </tr>
            </thead>
            {% for event in events|sort(attribute='start_time') %}
            <tr>
                <td><a href="/bruhproject/event/{{ event.id }}">{{ event.name }}</a></td>
                <td>{{ localtime(event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr/>
{% if active_events %}
<div class="row">
    <div class="col-lg-6">
        <h5>Your ongoing events</h5>
    </div>
</div>
<div class="row pt-3">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
            </tr>
            </thead>
            {% for event in active_events|sort(attribute='start_time') %}
            <tr>
                <td><a href="/bruhproject/event/{{ event.id }}">{{ event.name }}</a></td>
                <td>{{ localtime(event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr/>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <p><a href="/bruhproject/event/">All events</a></p>
    </div>
</div>

{% endblock %}