{% extends 'common/base.html.j2' %}

{% block content %}
<h2>Login</h2>
<form method="post">
    <div class="form-group">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form }}
        <button type="submit" class="btn btn-secondary">Sign in</button>
    </div>
</form>
{% endblock %}