{% extends 'common/base.html.j2' %}
{% block content %}
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		{{ crispy(register_form) }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% endblock %}