{% extends 'common/base.html.j2' %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h5>List of your wallets</h5>
    </div>
</div>

<div class="row pt-3">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Creation time</th>
            </tr>
            </thead>
            {% for wallet in wallets %}
            <tr>
            <td><a href="/bruhproject/wallet/{{ wallet.id }}">{{ wallet.name }}</a></td>
            <td>{{ '%0.2f' % wallet.money }} $</td>
            <td>{{ wallet.creation_time.strftime('%Y-%m-%d %H:%M') }}</td>
            {% endfor %}
            </tr>
            
        </table>
    </div>
</div>
{% endblock %}