{% extends 'common/base.html.j2' %}

{% block content %}
<div class="row">
    <div class="col-lg-1">
        <h2><strong>#{{ wallet.id }}</strong></h2>
    </div>
    <div class="col-lg-6 offset-md-2 center">
        <h2><strong>{{ wallet.name }} [{{ wallet.owner }}]</strong></h2>
    </div>
    <div class="col-lg-3 center">
        <h2>{{ '%0.2f' % wallet.money }} $</h2>
    </div>
</div>
<hr/>

{% if open_bets %}
<div class="row">
    <div class="col-lg-6">
        <h4>Open betting</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 offset-md-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Event time</th>
                <th>Event</th>
                <th>Type</th>
                <th>Bet</th>
                <th>Odds</th>
                <th>Possible win</th>
            </tr>
            </thead>
            {% for bet in open_bets|sort(attribute='event.start_time') %}
            <tr>
                <td>{{ localtime(bet.event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
                <td><strong>{{ bet.event.name }}:</strong> {{ bet.event.home_name }} - {{ bet.event.away_name }}</td>
                {% if user == bet.wallet.owner or bet.event.is_active() %}
                <td>{{ bet.chosen_result }}</td>
                <td>{{ '%0.2f' % bet.value }} $</td>
                <td>{{ '%0.2f' % bet.odd }}</td>
                <td>{{ '%0.2f' % bet.reward }} $</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endif %}


{% if closed_bets %}
<div class="row">
    <div class="col-lg-6">
        <h4>Settled bets</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 offset-md-1">
        <table class="table">
            <thead>
            <tr>
                <th>Event time</th>
                <th>Event</th>
                <th>Type</th>
                <th>Bet</th>
                <th>Odds</th>
                <th>Possible win</th>
                <th>Win</th>

            </tr>
            </thead>
            {% for bet in closed_bets|sort(attribute='event.start_time') %}
            {% if bet.won %}
            <tr class="won">
                {% else %}
            <tr class="lost">
                {% endif %}
                <td>{{ localtime(bet.event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
                <td><strong>{{ bet.event.name }}:</strong> {{ bet.event.home_name }} - {{ bet.event.away_name }}</td>
                <td>{{ bet.chosen_result }}</td>
                <td>{{ '%0.2f' % bet.value }} $</td>
                <td>{{ '%0.2f' % bet.odd }}</td>
                <td>{{ '%0.2f' % bet.reward }} $</td>
                <td>{{ '%0.2f' % (bet.reward * bet.won) }} $</td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endif %}


{% endblock %}