{% extends 'common/base.html.j2' %}

{% block content %}
    <div class="row" style="align-items: center">
        <div class="col-lg-1">
            <h6>#{{ wallet.id }}</h6>
        </div>
        <div class="col-lg-6 offset-md-2 center">
            <h4><strong>{{ wallet.name }} [{{ wallet.owner }}]</strong></h4>
        </div>
        <div class="col-lg-3 center">
            <h6>{{ '%0.2f' % wallet.money }} $</h6>
        </div>
    </div>
    <hr/>

    {% if open_bets %}
        <div class="row">
            <div class="col-lg-6">
                <h5>Open betting</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Event time</th>
                        <th>Event</th>
                        <th>Type</th>
                        <th>Bet</th>
                        <th>Odds</th>
                        <th>Possible win</th>
                        <th>Sell</th>
                    </tr>
                    </thead>
                    {% for bet in open_bets|sort(attribute='chosen_event.start_time') %}
                        <tr>
                            <td>{{ localtime(bet.chosen_event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
                            <td><a href="{{ "{}{}".format("/bruhproject/event/",bet.chosen_event.id)}}">{{ bet.chosen_event.name }}</a></td>
                            {% if user == bet.wallet.owner or bet.chosen_event.is_active() %}
                                <td>{{ bet.chosen_variant.name }}</td>
                                <td>{{ '%0.2f' % bet.amount }} $</td>
                                <td>{{ '%0.2f' % bet.chosen_variant.odd }}</td> 
                                <td>{{ '%0.2f' % bet.reward }} $</td>
                                <td> <a href="">{{ '%0.2f' %  }}</a> </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}


    {% if closed_bets %}
        <div class="row">
            <div class="col-lg-6">
                <h5>Settled bets</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Event time</th>
                        <th>Event</th>
                        <th>Variant</th>
                        <th>Bet</th>
                        <th>Odds</th>
                        <th>Possible win</th>
                        <th>Win</th>

                    </tr>
                    </thead>
                    {% for bet in closed_bets|sort(attribute='chosen_event.start_time') %}
                        {% if bet.chosen_variant.status == 2 %}
                            <tr class="won">
                                {% elif bet.chosen_variant.status == 3 %}
                            <tr class="refund">
                                {% else %}
                            <tr class="lost">
                        {% endif %}
                    <td>{{ localtime(bet.chosen_event.start_time).strftime('%Y-%m-%d %H:%M') }}</td>
                    <td><strong>{{ bet.chosen_event.name }}</strong></td>
                    <td>{{ bet.chosen_variant.market.name + ' | ' + bet.chosen_variant.name }}</td>
                    <td>{{ '%0.2f' % bet.amount }} $</td>
                    <td>{{ '%0.2f' % bet.chosen_variant.odd }}</td>
                    <td>{{ '%0.2f' % bet.reward }} $</td>
                    <td>{{ '%0.2f' % bet.reward }} $</td>
                    </tr>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}


{% endblock %}