{% extends 'common/base.html.j2' %}
{% block content %}
    <div class="row" style="align-items: center">
        <div class="col-lg-1">
            <h6>#{{ event.id }}</h6>
        </div>
        <div class="col-lg-6 offset-md-2 center">
            <h3><strong>{{ event.name }}</strong></h3>
        </div>
        {% if event.status %}
            <div class="col-lg-3 center">
                <h6>Status: {{ results[event.status] }}</h6>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-6 offset-md-3 center">
            <h5>{{ localtime(event.start_time).strftime('%Y-%m-%d %H:%M') }}</h5>
        </div>
    </div>

    {% if bet_form and grouped_variants %}

        <form method="post" class="center betform">
            <div class="header-top row">
                <h6 class="pl-5 col-lg-10" style="padding-left: 3.5rem !important;">Betting form</h6>
                <i class="bi bi-dash-lg col-lg-2 pl-2 hider"></i>
            </div>
            <div class="form-group">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ bet_form }}
                <button type="submit" class="btn btn-secondary betbutton" disabled style="margin-top: 7px">Stand!
                </button>
            </div>
        </form>
    {% endif %}
    <hr/>
    <div class="container">
        {% for variants in grouped_variants %}
            <div class="row">
                <div class="col-lg-12">
                    <h6><em>{{ variants['variants'][0].market.name + ':' }}</em></h6>
                </div>
                {% for variant in variants['variants'] %}
                    <div class="col-lg-2 center">
                        <span>{{ variant.name }}: </span><a href="#" class="variant"
                                                            data-variantid= {{ variant.id }}>{{ '%0.2f' % variant.odd }}</a>
                    </div>
                {% endfor %}
            </div>
            <hr/>
        {% endfor %}
    </div>
    {% if not grouped_variants %}
        <div class="center pt-6 pb-6">No available markets yet.</div>
    {% endif %}
    {% if bets %}
        <div class="row">
            <div class="col-lg-6">
                <h5>Included bets:</h5>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-lg-12">
                <table class="table {% if event.status != 3 %}table-striped{% endif %}" id="bets_history">
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Choose</th>
                        <th>Amount</th>
                        <th>Odds</th>
                        <th>Possible win</th>
                        {% if event.status in range(3,5) %}
                            <th>Total</th>
                        {% endif %}
                    </tr>
                    </thead>

                    {% for bet in bets %}
                        {% if not bet.settled %}
                            <tr>
                                {% else %}
                                {% if bet.chosen_variant.settlement == 2 %}
                                    <tr class="won">
                                        {% elif bet.chosen_variant.settlement == 3 %}
                                    <tr class="refund">
                                        {% else %}
                                    <tr class="lost">
                                {% endif %}
                        {% endif %}
                    <td>{{ bet.wallet.owner }}</td>
                    {% if user == bet.wallet.owner or event.is_active() %}
                        <td>{{ bet.chosen_variant.market.name + ' | ' + bet.chosen_variant.name }}</td>
                        <td>{{ '%0.2f' % bet.amount }} $</td>
                        <td>{{ '%0.2f' % bet.chosen_variant.odd }}</td>
                        <td>{{ '%0.2f' % bet.reward }} $</td>
                        {% if bet.settled %}
                            <td>{{ '%0.2f' % (bet.reward) }} $</td>
                        {% endif %}
                    {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}